body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f8;
}

.main {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.coordinator-gmail {
  position: relative;
  top: 24%;

  font-family: NanumSquareRoundOTF;
  font-size: 1.6vw;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: center;
  color: var(--dusty-orange);
}

.how-to-use-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
