body
{
    margin: 0px 0px 0px 0px;
    font-family: "Roboto", "serif";
}
.whole_box
{
    position: absolute;
    
    width: 375px;
    height: 798px;
    top: 65px;
    right: 25px;
    
}
.arrow
{
    height: 5px;
}

.white_box
{
    width: 375px;
    height: 793px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}


.container
{
    width: 343px;
    height: 730px;
    padding-right: 25px;
    overflow-y: scroll;
    
}
.container::-webkit-scrollbar-track
{
    background-color: rgb(202, 201, 201);
    border-radius: 4px;
}

.container::-webkit-scrollbar-thumb
{
    background-color: rgb(163, 163, 163);
    border-radius: 4px;
}
.container::-webkit-scrollbar
{
    width: 4px;
    opacity: 0.2;
    border-radius: 4px;
}

.file_box
{
    width: 343px;
    height: 52px;
    margin-left: 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 8px;
    
}
.file_box:hover
{
    background-color: rgba(255, 255, 255, 0.5);
}


.file_box:active
{
    background-color: rgb(255, 255, 255);
}
.file_box_active
{
    background-color: rgb(255, 255, 255);
}
.num
{
    margin-left: 14px;
    font-size: 16px;
}

.file_icon
{
    margin-left: 11px;
    width: 25px;
    height: 34px;
}

.textbox
{
    margin-left: 15px;
    height: 39px;
    width: 218px;
    
}

.file_name
{
    font-size: 16px;
    font-weight: bolder;

}

.day
{
    font-size: 14px;
    
}
.delete_box
{
    margin-left: 2px;
    width: 20px;
    height: 20px;
}
.delete
{
    width: 20px;
    height: 20px;

}
.pop
{
    display: none;
}
.pop_background
{
    position: absolute;
    top:5px;
    width: 375px;
    height: 793px;
    display: flex;
    border-radius: 26px;
    background-color: rgb(0,0,0,0.2);
    
}
.file_back_img
{
    position: absolute;
    right: 32px;
    top: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("img/사각형 1653.png");
    width: 311px;
    height: 197px;
}   

.x_img
{
    margin-top: 16px;
    background: url("img/modal_icon_expel.png");
    width: 74px;
    height: 74px;
}
.yes_no
{

    margin-top: 12.5px;
    display: flex;
    justify-content: center;
}