.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2000;
}

.modal {
  width: 422px;
  height: 219px;
  padding: 24px 0 16px;
  border-radius: 26px;
  background-color: #f1f3f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-image {
  width: 41px;
  height: 56px;
}

.file-name {
  font-size: 16px;
  font-weight: bold;
  color: #313233;
  margin: 6px 0 10px 0;
}

.modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.file-description {
  padding: 4px;
  border-bottom: 1px solid gray;
  width: 384px;
}
.file-description::placeholder {
  display: flex;
  justify-content: center;
  font-size: 12.5px;
  padding: 0 7px;
  color: #88898c;
}

.modal-form-btns {
  margin-top: 24px;
}
.modal-form-btns > button > img {
  width: 192px;
  height: 34px;
}
